<!-- start custom head snippets -->
{% if page.canonical_url %}
  {%- assign canonical_url = page.canonical_url %}
{% else %}
  {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
{% endif %}

{% if page.excerpt %}
  {%- assign tweet_desc = page.excerpt %}
{% else %}
  {%- assign tweet_desc = page.description %}
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title | default: site.title | markdownify | strip_html | strip_newlines | escape_once }}">
<meta name="twitter:site" content="@{{ site.twitter.username }}">
<meta name="twitter:description" content="{{ page.excerpt }}">
<meta name="twitter:url" content="{{ canonical_url }}">
<meta name="twitter:image" content="https://www.modernendpoint.com/assets/images/MME_Stacked_1200x630.png"> 

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
